@import "tailwindcss";

/* Extend the theme directly in CSS */
@theme {
  --color-primary-light: #fbfbfb;
  --color-primary-dark: #1f1f1f;

  --color-secondary-light: #fbfbfb;
  --color-secondary-dark: #252526;
}

